{% extends "./layout.html" %} {% block title %}Research{% endblock %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <!-- /.row -->
        {% if researchError %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{researchError}}
                </div>
            </div>
        </div>
        <!-- /.row -->
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Stock Market Research
                </h3>
            </div>

            <div class="panel-body">

                <form action="/research" method="get" target="_blank" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Stock Symbol" name="symbol"
                            pattern="^[a-zA-Z]{1,5}$" oninvalid="setCustomValidity('Please enter a valid symbol')"
                            oninput="setCustomValidity('')" />
                        <p class="help-block">Enter Stock Symbol.</p>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}