<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->
    <!-- <meta http-equiv="Cache-control" content="private"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OWASP Node Goat</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="vendor/theme/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/theme/font-awesome/css/font-awesome.min.css">

    <!-- Add custom CSS here -->
    <style type="text/css">
        #wrapper {
            padding-left: 0;
        }
    </style>

</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">OWASP Node Goat Project</a>
            </div>
        </nav>


        <div id="page-wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-sm">
                        Already a user? <a href="/login">Login</a>
                        <p>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            {% if userNameError || firstNameError || lastNameError || passwordError || verifyError || emailError %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p>{{userNameError}} </p>
                        <p>{{firstNameError}} </p>
                        <p>{{lastNameError}}</p>
                        <p>{{passwordError}}</p>
                        <p>{{verifyError}}</p>
                        <p>{{emailError}}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Enter sign up information</h3>
                        </div>
                        <div class="panel-body">

                            <form method="post" role="form" method="post">
                                <div class="form-group">
                                    <label for="userName">User Name</label>
                                    <input type="text" class="form-control" id="userName" value="{{userName}}"
                                        name="userName" placeholder="Enter user name" pattern="^[a-zA-Z0-9-._]{3,10}$"
                                        oninvalid="setCustomValidity('Please enter a valid userame, valid characters: numbers, letters, underscore, dot, dash. Min length: 3, Max length: 10')"
                                        oninput="setCustomValidity('')" required />
                                </div>

                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" value="{{firstName}}"
                                        name="firstName" placeholder="Enter first name"
                                        pattern="^([a-zA-ZÀ-ÿ][a-zA-zÀ-ÿ ']{2,20}$)"
                                        oninvalid="setCustomValidity('Please enter a valid name, valid characters: accent mark, spaces and letters')"
                                        oninput="setCustomValidity('')" required />
                                </div>


                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" value="{{lastName}}"
                                        name="lastName" placeholder="Enter last name"
                                        pattern="^([a-zA-ZÀ-ÿ][a-zA-zÀ-ÿ ']{2,20}$)"
                                        oninvalid="setCustomValidity('Please enter a valid last name, valid characters: accent mark, spaces and letters')"
                                        oninput="setCustomValidity('')" required />
                                </div>

                                <div class="form-group">
                                    <label for="lastname">Password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        value="{{password}}" placeholder="Enter password"
                                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$"
                                        oninvalid="setCustomValidity('Please enter a valid password, at least 8 characters with numbers and both lowercase and uppercase letters.')"
                                        oninput="setCustomValidity('')" required />
                                </div>

                                <div class="form-group">
                                    <label for="verify">Verify Password</label>
                                    <input type="password" class="form-control" id="verify" name="verify"
                                        value="{{verify}}" placeholder="Enter password"
                                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$"
                                        oninvalid="setCustomValidity('Please enter a valid password, at least 8 characters with numbers and both lowercase and uppercase letters.')"
                                        oninput="setCustomValidity('')" required />
                                </div>


                                <div class="form-group">
                                    <label for="verify">Email (Optional)</label>
                                    <input type="email" class="form-control" id="email" name="email" value="{{email}}"
                                        placeholder="Enter email" pattern="^[\S]+@[\S]+\.[\S]+$"
                                        oninvalid="setCustomValidity('Please enter a valid email')"
                                        oninput="setCustomValidity('')" />
                                </div>
                                <input type="hidden" name="_csrf" value="{{csrftoken}}"></input>
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->


        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.js"></script>
    <!-- Load environmental scripts such as live reload -->
    {% for script in environmentalScripts %}
    {{script}}
    {% endfor %}

</body>

</html>